// Body class
.port {

  // Variables
  $thumbnail-square: rem(72);
  $thumbnail-margin: $line-height__base * 0.5rem;
  $image-max-height: 85svh;

  // <ul>
  &__index {

    // <li>
    &__item {

      a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        img {
          height: auto;
          max-height: $image-max-height;
          max-width: 65%;
          width: auto;
        }

        h2 {
          padding-left: 1em;
          padding-right: 1em;
          text-align: center;
        }
      }

      &:nth-child(even) a {
        flex-direction: row-reverse;
      }
    }
  }

  // Rules
  @include breakpoint-up($mobile-to-desktop-nav) {
    display: grid;
    grid-template-areas: 
      ". header"
      "nav list";
    grid-column-gap: 3rem;

    // As much as I would love max-content to work here, the nav UL is not getting a width because we are limiting its height
    //grid-template-columns: max-content 1fr;
    // Instead we will set the width to be able to accommodate up to three columns of image thumbnails
    // Default is three columns
    grid-template-columns: (($thumbnail-square * 3) + ($thumbnail-margin * 3)) 1fr;

    &.port__count--large {
      grid-template-columns: (($thumbnail-square * 4) + ($thumbnail-margin * 4)) 1fr;
    }
  }

  &__header {
    grid-area: header;

    @include breakpoint-up($mobile-to-desktop-nav) {
      text-align: center;
    }
  }

  &__title {
    display: inline;
  }

  &__gallery {

    &__nav {
      grid-area: nav;
      position: relative;

      @include breakpoint-down($mobile-to-desktop-nav) {
        @include hide();
      }

      ul {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        padding: $vertical-rhythm 0;
      }

      li {
        height: $thumbnail-square;
        margin-right: $thumbnail-margin;
        margin-bottom: $thumbnail-margin;
        width: $thumbnail-square;

        a {
          height: $thumbnail-square;
          width: $thumbnail-square;

          img {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }
      }
    }

    // <ul>
    grid-area: list;

    @include breakpoint-up($mobile-to-desktop-nav) {
      height: 100vh;
      scroll-behavior: smooth;
      scroll-snap-type: y proximity;
      overflow-y: scroll;
    }

    //<li>
    &__item {
      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 100%;
      padding: $vertical-rhythm 0;
      scroll-snap-align: center;

      @include breakpoint-up($mobile-to-desktop-nav) {
        text-align: center;
      }

      figure img {
        display: inline-block;
        max-height: $image-max-height;
        width: auto;
      }

      figcaption {
        padding-top: ($vertical-rhythm * 0.5);
      }

      .sold {
        color: palette('brand-red');
        font-weight: $font-custom__sans__bold;
        margin-left: 0.5em;
      }
    }
  }
}