$portfolio-layout: large;
$image-max-height: 85svh;

// Body class
.port {

  // Variables
  $thumbnail-square-lg: rem(96);
  $thumbnail-square: rem(72);
  $thumbnail-margin: $line-height__base * 0.5rem;

  // <ul>
  &__index {

    // <li>
    &__item {

      a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        img {
          height: auto;
          max-height: $image-max-height;
          max-width: 65%;
          width: auto;
        }

        h2 {
          padding-left: 1em;
          padding-right: 1em;
          text-align: center;
        }
      }

      &:nth-child(even) a {
        flex-direction: row-reverse;
      }
    }
  }

  @include breakpoint-up($portfolio-layout) {
    display: grid;
    grid-template-areas: 
      ". header"
      "nav list";
    grid-column-gap: 3rem;

    // As much as I would love max-content to work here, the nav UL is not getting a width because we are limiting its height
    // grid-template-columns: max-content 1fr;
    // Instead we will set the width to be able to accommodate up to three columns of image thumbnails
    // Default is three columns
    grid-template-columns: (($thumbnail-square-lg * 3) + ($thumbnail-margin * 2)) 1fr;

    &.port__count--small {
      grid-template-columns: (($thumbnail-square * 4) + ($thumbnail-margin * 3)) 1fr;
    }
  }

  &__header {
    grid-area: header;

    @include breakpoint-up($portfolio-layout) {
      text-align: center;
    }
  }

  &__title {
    display: inline;
  }

  &__gallery {

    &__nav {
      grid-area: nav;
      position: relative;

      @include breakpoint-down($portfolio-layout) {
        @include hide();
      }

      ul {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        gap: $thumbnail-margin;
        padding: $vertical-rhythm 0;
      }

      li {
        height: $thumbnail-square-lg;
        width: $thumbnail-square-lg;

        a {
          height: $thumbnail-square-lg;
          width: $thumbnail-square-lg;

          img {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }
      }

      .port__count--small & li {
        height: $thumbnail-square;
        width: $thumbnail-square;
      
        a {
          height: $thumbnail-square;
          width: $thumbnail-square;
        }
      }
    }

    // <ul>
    grid-area: list;

    @include breakpoint-up($portfolio-layout) {
      height: 100vh;
      scroll-behavior: smooth;
      scroll-snap-type: y proximity;
      overflow-y: scroll;
    }

    //<li>
    &__item {
      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 100%;
      padding: $vertical-rhythm 0;
      scroll-snap-align: center;

      @include breakpoint-up($portfolio-layout) {
        text-align: center;
      }

      figure img {
        display: inline-block;
        max-height: $image-max-height;
        width: auto;
      }

      figcaption {
        padding-top: ($vertical-rhythm * 0.5);
      }

      .sold {
        color: palette('brand-red');
        font-weight: $font-custom__sans__bold;
        margin-left: 0.5em;
      }
    }
  }
}

.lightbox-gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include breakpoint-up($portfolio-layout) {
    img {
      max-height: $image-max-height;
    } 
  }
}

// Hide the JS-driven "Hide Sold" button if JS has not loaded
.no-js {
  .js__hide-sold {
    display: none;
  }
}

// If loaded, a class will be added to elements that are sold
.js {
  .port__gallery__nav li.js__item-sold {
    overflow: hidden;
    transition: height 250ms ease-in, margin 250ms ease-in, width 250ms ease-in;

    &.is-hidden {
      height: 0;
      margin: 0;
      width: 0;
    }
  }

  .port__gallery__item.js__item-sold {
    overflow: hidden;
    transition: height 250ms ease-in, padding 250ms ease-in;

    &.is-hidden {
      height: 0;
      padding: 0;
    }
  }
}