// The HTML element wrapper must pass an inline style tag with the desired aspect ratio
// Example: <div class="ar" style="aspect-ratio: 4 / 5"><img src="" alt=""></div>
.ar {
  display: block;
  position: relative;
  overflow: hidden;
  
  img {
    object-fit: cover;
    position: absolute;
    inset: 0;
    
    @supports not (inset: 0) {
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
}
