.c {

  &--max {
    max-width: $max-width;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  &__sticky {

    @include breakpoint-up($mobile-to-desktop-nav) {
      padding-top: $vertical-rhythm;
      padding-bottom: $vertical-rhythm;
    }

    @media (min-width: #{ em( bp($mobile-to-desktop-nav) ) }) and (min-height: 48em) {
      //position: sticky;
      //top: 0;
    }
  }

  &--text {
    max-width: $max-width__text;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}