{% comment %}
  The page_title is set in a simple way: 
  • Default is the Site title
  • If there is a meta title present, it overrides the page title, and the site title is appended
  • If there is not, the page title is appended with the site title

  Example in a page:
  title: 'Two dimensional work'
  meta_title: '2007–2008 | Two dimensional work'
  The page_title will render as '2007–2008 | Two dimensional work | Taleen Batalian'
{% endcomment %}
{%- assign meta_title = site.title -%}
{%- assign meta_title_trailer = site.title | prepend: ' | ' -%}
{%- comment -%}Default: "| Taleen Batalian"{%- endcomment -%}
{%- comment -%}If there is a meta_title value:{%- endcomment -%}
{%- if page.meta_title -%}
  {% assign meta_title = page.meta_title | append: meta_title_trailer %}
{% elsif page.title %}
  {% assign meta_title = page.title | append: meta_title_trailer %}
{%- endif -%}
{%- assign meta_description = site.description -%}
{%- if page.description -%}
  {% assign meta_description = page.description %}
{%- endif -%}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,500;1,300&display=swap" rel="stylesheet">

    <title>{{ meta_title }}</title>
    <meta property="og:site_name" content="{{ site.title }}">
    <meta name="description" content="{{ meta_description }}">
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    {% if page.meta_image %}<meta property="og:image" content="{{ site.image_path }}{{ page.meta_image }}">{% endif %}
    <link rel="stylesheet" type="text/css" href="{% link assets/css/main.scss %}?cb={{ 'now' | date: '%Y%m%f-%H%M' }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% link assets/apple-touch-icon.png %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% link assets/favicon-32x32.png %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% link assets/favicon-16x16.png %}">
    <link rel="manifest" href="{% link assets/site.webmanifest %}">
    <link rel="mask-icon" href="{% link assets/safari-pinned-tab.svg %}" color="#586994">
    <meta name="msapplication-TileColor" content="#d0d0d0">
    <meta name="theme-color" content="#ffffff">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V2KGKGE73X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-V2KGKGE73X');
    </script>
  </head>
