  <ul {% if include.top == "Yes" %}id="mainmenu" class="menu aria-expand" {% endif %}role="list">
    <li>
      <a href="{% link exhibitions/index.html %}"{% if page.permalink == 'exhibitions/' %} aria-current="page"{% endif %}{% if page.permalink contains 'exhibitions' %} class="parent"{% endif %}><b>Exhibitions</b></a>
      <ul class="menu__sub">
        <li><a href="{% link exhibitions/tender-cargo.html %}"{% if page.permalink contains 'exhibitions/tender-cargo' %} aria-current="page"{% endif %}>Tender Cargo</a></li>
        <li><a href="{% link exhibitions/graft.html %}"{% if page.permalink contains 'exhibitions/graft' %} aria-current="page"{% endif %}>Graft</a></li>
      </ul>
    </li>
    <li>
      <a href="{% link film-performance/index.html %}"{% if page.permalink == 'film-performance/' %} aria-current="page"{% endif %}{% if page.permalink contains 'film-performance' %} class="parent"{% endif %}><b>Film & Performance</b></a>
      <ul class="menu__sub">
        <li><a href="{% link film-performance/tender-cargo.html %}"{% if page.permalink contains 'film-performance/tender-cargo' %} aria-current="page"{% endif %}>Tender Cargo</a></li>
        <li><a href="{% link film-performance/fringe-pvd.html %}"{% if page.permalink contains 'fringe-pvd' %} aria-current="page"{% endif %}>Fringe PVD</a></li>
        <li><a href="{% link film-performance/waves-shadows.html %}"{% if page.permalink contains 'waves-shadows' %} aria-current="page"{% endif %}>Waves & Shadows</a></li>
        <li><a href="{% link film-performance/disassemble.html %}"{% if page.permalink contains 'disassemble' %} aria-current="page"{% endif %}>Disassemble</a></li>
      </ul>
    </li>
    <li>
      <a href="{% link 3d/2022.html %}"{% if page.permalink contains '3d' %} aria-current="page"{% endif %}>
        <b><span aria-hidden="true">3D</span><span class="u__sr-only">Three dimensional</span></b>
      </a>
    </li>
    <li>
      <!-- We have two current pages with this pattern. Needs to be fixed -->
      <a href="{% link 2d/index.html %}"{% if page.permalink == '2d/' %} aria-current="page"{% endif %}{% if page.permalink contains '2d' %} class="parent"{% endif %}>
        <b><span aria-hidden="true">2D</span><span class="u__sr-only">Two dimensional</span></b>
      </a>
      <ul class="menu__sub">
        {% assign twod_items = site.pages | where: 'section', '2d' | reverse %}
        {% for item in twod_items %}
          {% if item.nav_title %}
          <li><a href="{{ item.permalink | relative_url }}"{% if page.permalink == item.permalink %} aria-current="page"{% endif %}>{{ item.nav_title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    <li><a href="{% link about.md %}"{% if page.permalink contains 'about' %} aria-current="page"{% endif %}>About: Statement & Resume</a></li>
    <li><a href="{% link upcoming.md %}"{% if page.permalink contains 'upcoming' %} aria-current="page"{% endif %}>Upcoming Exhibitions</a></li>
    <li><a href="{% link classes.md %}">Classes & workshops</a></li>
    <li><a href="#">Contact the artist</a></li>
    <li><a href="https://www.instagram.com/taleenbatalian/" target="_blank" title="Opens new window">Follow on Instagram</a></li>
  </ul>
