{%- assign sold = false -%}

<div class="port port__count{% if items.size > 21 %}--small{% endif %}">
  <header class="port__header">
    <h1 class="h3 port__title">{{ page.title }}</h1>
  </header>
  <nav class="port__gallery__nav">
    <ul role="list">
    {% for item in items %}
      {% if item.sold %}
        {%- assign sold = true -%}
      {% endif %}
      <li class="{% if item.sold %}js__item-sold{% endif %}">
        <a href="#{{ item.slug }}">
          <img src="{{ site.image_path }}{{ page.section }}/{{ item.year }}/{{ item.slug }}.jpg" alt="" />
        </a>
      </li>
    {% endfor %}
    </ul>
    {% if sold == true %}
    <button id="js__hide-sold" class="btn">Hide Sold</button>
    {% endif %}
  </nav>
  <ul class="u__list__unstyled port__gallery" role="list">
  {% for item in items %}
    <li id="{{ item.slug }}" class="port__gallery__item{% if item.sold %} js__item-sold{% endif %}">
      <figure>
        <img src="{{ site.image_path }}{{ page.section }}/{{ item.year }}/{{ item.slug }}.jpg" alt="" />
        <figcaption>
          <p><i>{{ item.title }}</i>, {{ item.year }}, {{ item.caption }} {% if item.sold %}<span class="sold">Sold</span>{% endif %}</p>
        </figcaption>
      </figure>
    </li>
  {% endfor %}
  </ul>
</div>
